/* Space out content a bit */
 body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family:'Roboto', sans-serif;
  background-color: #3c4e5a;
}
h1, h2, h3 {
  font-family:'Roboto', sans-serif;
  font-weight: 300;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
 .header, .marketing, .footer {
  padding-left: 15px;
  padding-right: 15px;
}
/* Custom page header */
 .header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
 .header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
/* Custom page footer */
 .footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
/* Customize container */
 @media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
/* Main marketing message and sign up button */
 .jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
/* Supporting marketing content */
 .marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
/* Responsive: Portrait tablets and up */
 @media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header, .marketing, .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.map-container {
  height: 100%;
  width: 100%;
  margin: 0;
}
#map {
  height: 100%;
  width: 100%;
}
.container {
  height: 20em;
  background-color: rgb(231, 231, 231);
  margin-top: 10em;
}
.startContainer {
  text-align: center;
  margin-top: 2em;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.border {
  border: solid 1px lightgray;
  border-radius: 3px;
}
.startLogo {
  margin-left: 180px;
  margin-top: -130px;
  height: 150px;
  position: absolute;
}
input {
  margin-bottom: 10px;
}
.startContainer input[type="button"] {
  margin-left: 125px;
}
.toolbox {
  position: fixed;
  right: 0;
  top: 50px;
  bottom: 0;
  height: 100%;
  width: 300px;
  background-color: rgba(231, 231, 231, 0.9);
}
.toolbox-buttons {
  position: fixed;
  right: 0;
  top: 0;
  background-color: #3c4e5a;
  width: 301px;
  height: 50px;
}
.animate-slideIn {
  /*transition-property*/
  -webkit-transition-property:width;
  -moz-transition-property:width;
  -o-transition-property:width;
  transition-property:width;
  /*transition-duration*/
  -webkit-transition-duration:100ms;
  -moz-transition-duration:100ms;
  -o-transition-duration:100ms;
  transition-duration:100ms;
  /*transition-timing-function*/
  -webkit-transition-timing-function:ease-in;
  -moz-transition-timing-function:ease-in;
  -o-transition-timing-function:ease-in;
  transition-timing-function:ease-in;
}
.zeroWidth {
  width: 0;
}
.btn-dark {
  background-color: #3c4e5a;
  border-radius: 0;
  color: rgb(231, 231, 231);
  border-top: 0;
  border-bottom: 0;
  border-left:0;
  border-right:0;
  height: 50px;
  width: 73px;
  outline: none;
  transition: background-color .25s ease-in-out;
}
.btn-dark:hover ,.btn-dark:active, .btn-dark:focus {
  background-color: white;
  color: #3c4e5a;
  outline: none;
}
.btn-default {
  background-color: #3c4e5a;
  border-radius: 0;
  color: rgb(231, 231, 231);
  border: 0;
  outline: none;
  margin: 5px;
  transition: background-color .25s ease-in-out;
}
.btn-default:hover ,.btn-default:active, .btn-default:focus {
  background-color: white;
  color: #3c4e5a;
  outline: none;
}
.toolbox-content {
  margin-top: 20px;
  width: 300px;
  max-height: 290;
  overflow: auto;
}
.watching {
  background-color: white;
  color: #3c4e5a;
}
.watching, .watching:focus, .watching:active {
  background-color: white;
  color: #3c4e5a;
}
.hide {
  position: absolute;
  right: -500px;
}
.animate-enter, .animate-leave {
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: clip;
  white-space:nowrap;
}
.animate-leave.animate-leave-active, .animate-enter {
  opacity: 0;
  width: 0px;
  height: 0px;
}
.animate-enter.animate-enter-active, .animate-leave {
  opacity: 1;
  width: 150px;
  height: 30px;
}
.chat {
  position: absolute;
  bottom: 50px;
}
.chatMessages {
  overflow: auto;
  position: absolute;
  top: 250px;
  bottom: 100px;
  width: 300px;
}
.chatNew {
  margin-left: 10px;
}
.history {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  padding: 15px;
  -moz-border-radius: 5px;
  border-radius: 0;
  margin: 5px;
}
.history:hover {
  background-color: #ddd;
}
.historyDate {
  font-size: 12px;
  float:right;
}
.historyContainer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  top: 60px;
  overflow: auto;
}
.btn {
  border-radius: 0;
}
.chatMessage {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  padding: 15px;
  -moz-border-radius: 5px;
  border-radius: 0;
  margin: 5px;
}
.chatUser {
  font-size: 12px;
  float: right;
}
.users{
  overflow: auto;
  position: absolute;
  max-height: 200px;
  width: 100%;
}
.historyDropdown{
  float: right;
}