/* Space out content a bit */
 body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family:'Roboto', sans-serif;
  background-color: #104349;
}
h1, h2, h3 {
  font-family:'Roboto', sans-serif;
  font-weight: 300;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
 .header, .marketing, .footer {
  padding-left: 15px;
  padding-right: 15px;
}
/* Custom page header */
 .header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
 .header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
/* Custom page footer */
 .footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
/* Customize container */
 @media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
/* Main marketing message and sign up button */
 .jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
/* Supporting marketing content */
 .marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
/* Responsive: Portrait tablets and up */
 @media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header, .marketing, .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.map-container {
  height: 100%;
  width: 100%;
  margin: 0;
}
#map {
  height: 100%;
  width: 100%;
}
.container {
  height: 20em;
  background-color: rgb(231, 231, 231);
  margin-top: 10em;
}
.startContainer {
  text-align: center;
  margin-top: 2em;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.border {
  border: solid 1px lightgray;
  border-radius: 3px;
}
.startLogo {
  margin-left: 180px;
  margin-top: -130px;
  height: 150px;
  position: absolute;
}
input {
  margin-bottom: 10px;
}
.startContainer input[type="button"] {
  margin-left: 125px;
}
.toolbox {
  position: fixed;
  right: 0;
  top: 50px;
  bottom: 0;
  height: 100%;
  width: 300px;
  background-color: rgb(231, 231, 231);
}
.toolbox-buttons {
  position: fixed;
  right: 0;
  top: 0;
  background-color: #104349;
  width: 300px;
  height: 50px;
}
.animate-slideIn {
  /*transition-property*/
  -webkit-transition-property:width;
  -moz-transition-property:width;
  -o-transition-property:width;
  transition-property:width;
  /*transition-duration*/
  -webkit-transition-duration:100ms;
  -moz-transition-duration:100ms;
  -o-transition-duration:100ms;
  transition-duration:100ms;
  /*transition-timing-function*/
  -webkit-transition-timing-function:ease-in;
  -moz-transition-timing-function:ease-in;
  -o-transition-timing-function:ease-in;
  transition-timing-function:ease-in;
}
.zeroWidth {
  width: 0;
}
.btn-green {
  background-color: #104349;
  border-radius: 0;
  color: rgb(231, 231, 231);
  border-top: 0;
  border-bottom: 0;
  height: 50px;
  transition: background-color .25s ease-in-out;
}
.btn-green:hover, .btn-green:focus, .btn-green:active {
  background-color: #186169;
}

.userlist{
  margin-top: 20px;
  width: 300px;
  max-height: 300;
  overflow: auto;
}