<div style="margin-left: 3px">
  <div id="featurePropsForm" ng-repeat="prop in selectedFeature.properties">
   <div class="input-group">
    <label class="input-group-addon propertyLabel" for="{{prop.key}}">{{prop.key}}</label>
    <input class="propertyInput" type="text" value="{{prop.value}}" id="{{prop.key}}" ng-model="prop.value">
  </div>
  </div>
  <input type="button" class="btn btn-default" ng-click="savePropertyChanges()" value="Save Changes"><br>


<!-- TODO: only if feature is selected -->
  <h3>New Property</h3>
  <label for="newKey">Key</label><br>
  <input id="newKey" type="text" ng-model="newKey"><br>
  <label for="newValue">Value</label> <br>
  <input id="newValue" type="text" ng-model="newValue">
  <input type="button" class="btn btn-default" ng-click="newProperty()" value="Save">
</div>
