<div class="paddingLeft">
  <input type="button" class="btn btn-default" value="Back to History" ng-click="backToHistory()" style="float:right">
  <br>
  <br>
  <div ng-show="loading">
    <br>
    <div style="margin: auto; width: 43px;">
      <div class="loading"></div>
    </div>
    <br>
  </div>
  <div ng-show="currentRevision">
    <h4>Feature: {{currentRevision._id}}</h4>
    Number of Revisions: {{numberOfRevisions}}
    <br>Displayed Revision: {{numberOfRevisions-currentRevisionIndex}}

    <br>
    <br>
    <span ng-hide="currentRevision._deleted && (numberOfRevisions-currentRevisionIndex) === numberOfRevisions">
      <input type="button" class="btn btn-default" value="Older" ng-click="previousRevision()" ng-hide="currentRevisionIndex === (numberOfRevisions-1)">
      <input type="button" class="btn btn-default" value="Newer" ng-click="nextRevision()" ng-hide="(numberOfRevisions-currentRevisionIndex) === numberOfRevisions">

      <h4>Property Changes</h4>
      <div ng-show="hasChanges.diffProperties">
        <div id="diffProperties" class="chatMessage"></div>
      </div>
      <div ng-show="!hasChanges.diffProperties">
        <span style="margin-left: 10px;">No property changes to the previous revision. Check the geometry.</span>
      </div>
      <input ng-hide="(numberOfRevisions-currentRevisionIndex) === numberOfRevisions || currentRevision._deleted" type="button" class="btn btn-default" ng-click="revertFeature(currentRevision._id, currentRevision._rev)" value="Revert to this Revision">
    </span>


    <span ng-if="currentRevision._deleted">
      <br>This feature has been deleted.
      <br>
      <input ng-show="hasGeomChanges(docRev.lastAction)" type="button" class="btn btn-default" ng-click="showMapDiff(docRev._id, docRev._rev, $index)" value="Show changes on map">
      <input ng-show="(numberOfRevisions-currentRevisionIndex) === numberOfRevisions" type="button" class="btn btn-default" ng-click="restoreDeletedFeature(currentRevision._id, currentRevision)" value="Restore feature">
    </span>
  </div>
  <div class="slider">
    {{numberOfRevisions}}<br>
    <input type="range" min="0" max="10" step="1" class="verticalSlider" ng-model="sliderValue" ng-change="sliderChange($event)" orient="vertical">
    <br>
    1
  </div>
</div>
