<div id="historyModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Feature {{documentRevision[0]._id}}</h4>
                Number of Revisions: {{documentRevision.length}}
            </div>
            <div class="modal-body">

                <div ng-class="{'hide': hideDocumentRevisionView}">
                    <div ng-repeat="docRev in documentRevision">
                        <div class="documentRevision">
                            Revision: {{docRev._rev.split('-')[0]}}
                            <div ng-if="$first" class="docRevRevertBtn">
                                <input type="button" class="btn btn-default" ng-click="showChanges(docRev._id, docRev._rev, $index)" value="Changes">
                            </div>
                            <div ng-if="$middle" class="docRevRevertBtn">
                                <input type="button" class="btn btn-default" ng-click="revertFeature(docRev._id, docRev._rev)" value="Revert to Revision">
                                <input type="button" class="btn btn-default" ng-click="showChanges(docRev._id, docRev._rev, $index)" value="Changes">
                            </div>
                            <div ng-if="$last" class="docRevRevertBtn">
                                <input type="button" class="btn btn-default" ng-click="revertFeature(docRev._id, docRev._rev)" value="Revert to Revision">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-class="{'hide': hideDiffView}">
                <input type="button" class="btn btn-default" value="Back to History" ng-click="closeDiffView()">
                <div id="diffProperties"></div>
                <div id="diffGeometry"></div>
            </div>
            <!--
        <div class="modal-footer">
          footer
        </div> -->
        </div>
    </div>
</div>
