<div id="map"></div>

<div class="toolbox-buttons">
  <input type="button" class="btn btn-default btn-green" ng-click="toggleToolbar()" value="Users">
</div>

<div class="toolbox animate-slideIn" ng-class="{'zeroWidth':toolBarIn}">

  <div class="userlist">
    <input type="button" class="bnt btn-default" ng-class="{'watching': isWatchingAll}" ng-click="watchAll()" value="Watch all">
    <div ng-repeat="(key, value) in users">
      <div>
        <input type="button" class="bnt btn-default" ng-class="{'watching': watchUsers[key]}" ng-click="watchUser(key)" value="watch">{{value}}
      </div>
    </div>
  </div>
</div>
