<!-- mapId is the scope variable containing the mapId string -->
<map mapId="mapId"></map>
<toolbox></toolbox>
<socket-status></socket-status>

<!-- Modal -->
<div class="modal fade" id="tutorialModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <br>
      </div>
      <div class="modal-body">
        <h2>Task</h2>
        <p>Due to the recent floodings around Dresden, large areas are no longer accessible.
          <br>The job is to revise the green highlighted area with the help of the different aerial images.
          <br>
        </p>
        <p>
          The flooded areas can be recognized by switching between the different map layers. The near-infrared image shows the region with the floodings.
          <br>THe OpenStreetmMap and satellite layers can be used to compare the waterlevel with the original riverbed.
        </p>
        <p>
          Map all flooded areas as well as inaccessible infrastructure.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="startIntroJS()">Start Tutorial</button>
      </div>
    </div>
  </div>
</div>
