<div class="container border" style="height: 25em !important">
  <h1>Ethermap</h1>
  <p>
    Thanks for participating within this user-study.<br>
    Please insert your participant number below.

  </p>
  <div class="startContainer">
    Map Name:
    <input type="text" ng-model="mapIdInput" placeholder="Map Name" ng-keypress="startWithKey($event)" maxlength="15">
    Particpant Number:
    <input type="text" ng-model="userInput" placeholder="Participant Number" ng-keypress="startWithKey($event)" maxlength="15">
    <input type="button" class="btn btn-default" ng-click="startClick()" value="Start">
    <br>
    <br>

    <img class="startLogo" src="images/logo.png" />
  </div>
</div>
