<div class="container border">
  <h1>Ethermap</h1>
  <p>
    Enter a name to create/open a map...
  </p>
  <div class="startContainer">
    <input type="text" ng-model="mapIdInput" placeholder="Map Name" ng-keypress="startWithKey($event)" maxlength="15">
    <input type="text" ng-model="userInput" placeholder="User Name" ng-keypress="startWithKey($event)" maxlength="15">
    <input type="button" class="btn btn-default" ng-click="startClick()" value="Start">
    <br>
    <br>

    <img class="startLogo" src="images/logo.png" />
  </div>
</div>
