<input type="button" value="Load map" ng-click="loadMap()" />
<br>
<input type="button" value="Watch All" ng-click="watchAll()" />
<br>
<br>

<span style="color: white">Random Markers</span><br>
<input type="number" ng-model="numberOfMarkerFeatures" placeholder="Number of features"/>
<input type="number" ng-model="randomMarkerFeatureDelay" placeholder="Delay" />
<input type="button" value="Send random Features" ng-click="createRandomFeatures()" /><br><br>

<span style="color: white">Random Münster Buildings</span><br>
<input type="number" ng-model="numberOfBuildingFeatures" placeholder="Number of features"/>
<input type="number" ng-model="randomFeatureBuildingDelay" placeholder="Delay" />
<input type="button" value="Send Münster Buildings" ng-click="createRandomBuildings()" /><br><br>

<span style="color: white">Random Movements</span><br>
<input type="number" ng-model="numberOfMovements" placeholder="Number of movements"/>
<input type="number" ng-model="movementDelay" placeholder="Delay" />
<input type="button" value="Send random Movements" ng-click="createMapMovementEvents()" /><br><br>




<textarea ng-model="evalInput" type="text"></textarea>
<br>
<input type="button" ng-click="evalJS()" value="Submit" />
