<div class="toolbox-buttons">
  <input type="button" class="btn btn-default btn-green noLeftBorder" ng-click="toggleToolbar('userView')" value="Users">
  <input type="button" class="btn btn-default btn-green noLeftBorder" ng-click="toggleToolbar('settingsView')" value="Chat">
  <input type="button" class="btn btn-default btn-green noLeftBorder" ng-click="toggleToolbar('historyView')" value="History">
  <input type="button" class="btn btn-default btn-green noLeftBorder" ng-click="toggleToolbar('toolsView')" value="Tools">

  <div class="toolbox animate-slideIn" ng-class="{'zeroWidth':views.toolBarIn}">

    <div class="toolbox-content" ng-class="{'hide': views.userView}">
      <div class="users">
        <input type="button" class="btn btn-default" ng-class="{'watching': isWatchingAll}" ng-click="watchAll()" value="Watch all">

        <div ng-repeat="(key, value) in users">
          <div>
            <input type="button" class="btn btn-default" ng-class="{'watching': watchUsers[key]}" ng-click="watchUser(key)" value="watch">
            <span ng-click="getUserBounds(key)">{{value}}</span>
          </div>
        </div>
      </div>

    </div>
    <div class="toolbox-content" ng-class="{'hide': views.historyView}">
      <input type="button" class="btn btn-default" value="Load" ng-click="loadHistory()">

      <div class="historyContainer">

        <div ng-repeat="action in history | orderBy: 'date':true">

          <div class="history">
            {{action.user}}: {{action.action}} a Feature
            <br>Revision: {{action.rev.split('-')[0]}}
            <div class="historyDate">{{action.dateString}}</div>
          </div>

        </div>
      </div>

    </div>
    <div class="toolbox-content" ng-class="{'hide': views.toolsView}">Tools</div>
    <div class="toolbox-content" ng-class="{'hide': views.settingsView}">
      <chat></chat>
    </div>
  </div>
