<div class="toolbox-buttons">
  <input type="button" class="btn btn-dark" ng-click="toggleToolbar('userView')" value="Users">
  <input type="button" class="btn btn-dark" ng-click="toggleToolbar('historyView')" value="History">
  <input type="button" class="btn btn-dark" ng-click="toggleToolbar('toolsView')" value="Tools">
  <!--
  <input type="button" class="btn btn-dark" ng-click="toggleToolbar('settingsView')" value="Settings">-->

  <div id="toolbox" class="toolbox animate-slideIn" ng-class="{'zeroWidth':views.toolBarIn}">

    <div class="toolbox-content" ng-class="{'hide': views.userView}">
      <div class="users">
        <input type="button" class="btn btn-default" ng-class="{'watching': isWatchingAll}" ng-click="watchAll()" value="Watch all">

        <div ng-repeat="(key, value) in users">
          <div>
            <input type="button" class="btn btn-default" ng-class="{'watching': watchUsers[key]}" ng-click="watchUser(key)" value="watch">
            <span ng-click="getUserBounds(key)">{{value}}</span>
          </div>
        </div>
      </div>
      <chat></chat>

    </div>
    <div class="toolbox-content" ng-class="{'hide': views.historyView}">
      <input type="button" class="btn btn-default" value="Load" ng-click="loadHistory()">

      <div class="historyContainer">

        <div ng-repeat="action in history | orderBy: 'date':true">

          <div class="history">

            <div class="historyDropdown dropdown"><a class="dropdown-toggle" role="button" data-toggle="dropdown" href="javascript:;">Actions<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a tabindex="-1" data-ng-click="showFeatureHistory(action.id)">View History</a>
                </li>
                <!--
                <li><a tabindex="-1" data-ng-click="revertFeature(action.id, action.rev)">Revert Single Feature</a>
                </li>-->
                <li><a tabindex="-1" data-ng-click="panToFeature(action.id)">Pan to</a>
                </li>
              </ul>
            </div>

            {{action.user}}: {{action.action}} a Feature
            <br>Revision: {{action.rev.split('-')[0]}}
            <br>
            <div class="historyDate">{{action.dateString}}</div>
          </div>

        </div>
      </div>

    </div>
    <div class="toolbox-content" ng-class="{'hide': views.toolsView}">
      <featureproperties></featureproperties>
    </div>
    <div class="toolbox-content" ng-class="{'hide': views.settingsView}">
      Settings
      <!--<chat></chat>-->
    </div>
  </div>
